@import "../../../../common/styles/animations";

:host {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .entry-top {

  }

  .entry-content {
    text-align: center;
    display: flex;
    flex-direction: column;
    min-width: 360px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;

    img {
      max-height: 350px;
    }

    button {
      margin-top: 20px;
    }
  }

  .entry-bottom {

  }
}