@import "variables";
@import "functions";
@import "../../../../common/styles/animations";
@import "../../../../common/styles/variables";


:host {
  .venues {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .venue {
      margin: 35px;
      min-width: 200px;

      h3 {
        margin: 0;
        font-weight: 300;
        font-size: 18px;
      }

      p {
        margin: 0;
        font-weight: 200;
        font-size: 14px;
      }
    }
  }
}