@import "variables";
@import "functions";
@import "../../../../common/styles/animations";


:host {
  .ui.checkbox label, .ui.checkbox+label {
    color: white;
  }

  h2 {
    margin-bottom: 2px;
  }

  .ui.form .inline.fields {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0 40px;

    .field {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0;
      padding: 0 10px;

      .guest {
        display: flex;
        flex-direction: column;
        align-items: center;
        &> input{
          visibility: hidden;
          position: absolute;
        }
        &> input + .guest-data{
          cursor:pointer;
          opacity: .3;
        }
        &> input:checked + .guest-data{
          opacity: 1;
        }

        .guest-data {
          display: flex;
          flex-direction: column;
          align-items: center;

          span {
            margin-bottom: 5px;
            font-weight: 300;
          }
        }
      }

      //&:first-child {
      //  .ui.checkbox label {
      //    padding-left: 0;
      //  }
      //}
      //
      //&:last-child {
      //  margin-right: 0;
      //  padding-right: 0;
      //}
    }
  }
}
