@import "variables";
@import "functions";
@import "../../../../common/styles/animations";


:host {
  .ui.checkbox label, .ui.checkbox+label {
    color: white;
  }

  h2 {
    margin-bottom: 2px;
  }

  .ui.form .inline.fields {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0 40px;

    .field {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0;
      padding: 0 10px;
      margin-right: 16px;

      &:last-child {
        margin-right: 0;
      }

      & > .ui.button.basic.inverted {
        box-shadow: none !important;

        span {
          width: 0;
          overflow: hidden;
          transition: all .2s;
          display: none;
        }

        i {
          opacity: .5;
          transition: all .2s;
        }

        &:hover {
          span {
            width: auto;
            display: inline;
          }

          i {
            opacity: 1;
          }
        }
      }

      .guest {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 0;

        &> input{
          visibility: hidden;
          position: absolute;
        }
        &> input + .guest-data{
          cursor:pointer;
          opacity: .3;
        }
        &> input:checked + .guest-data{
          opacity: 1;
        }

        .guest-data {
          display: flex;
          flex-direction: column;
          align-items: center;

          h4 {
            margin: 8px 0;
            font-weight: 300;
            color: $white;
          }
        }
      }

      //&:first-child {
      //  .ui.checkbox label {
      //    padding-left: 0;
      //  }
      //}
      //
      //&:last-child {
      //  margin-right: 0;
      //  padding-right: 0;
      //}
    }
  }
}
