:host {
  .ui.checkbox label, .ui.checkbox+label {
    color: white;
  }

  .ui.form .inline.fields {

    margin: 30px 0 40px;

    .field {
      display: flex;
      flex-direction: column;
      align-items: center;

      .ui.checkbox {

        &.checked label{
          opacity: 1;
        }

        input:checked ~ label::after {
          display: none;
        }

        label{
          display: flex;
          flex-direction: column;
          align-items: center;
          opacity: .5;
          font-family: 'montserrat', Helvetica, sans-serif;
          font-weight: 200;
          font-size: 20px;

          &::before {
            content: '\f2be';
            font-family: 'fontawesome';
            font-size: 100px;
            background: none;
            border: 0;
            position: relative;
            padding: 0;
            height: 100px;
            width: 100%;
            margin: 10px 0;
            padding-top: 40px;
          }
        }
      }
    }
  }
}
