@import "variables";
@import "functions";
@import "../../../../common/styles/animations";


:host {
  h2 {
    margin: 0;
  }

  .ui.form {
    display: flex;
    flex-direction: column;
    align-items: center;

    .inline.fields {
      display: flex;
      justify-content: center;
      margin: 20px 0 20px;

      .field {
        margin: 20px 0;

        .meal {
          &> input{ /* HIDE RADIO */
            visibility: hidden; /* Makes input not-clickable */
            position: absolute; /* Remove input from document flow */
          }
          &> input + .meal-data{ /* IMAGE STYLES */
            cursor :pointer;
            opacity: .5;
          }
          &> input:checked + .meal-data{ /* (RADIO CHECKED) IMAGE STYLES */
            opacity: 1;

            .meal-image {
              box-shadow: $shadow-short;
            }
          }

          .meal-data {
            display: flex;
            flex-direction: column;
            align-items: center;

            span {
              margin-bottom: 5px;
              font-weight: 300;
            }

            .meal-image {
              background-color: $gray;
              height: 150px;
              width: 200px;
              border-radius: 8px;
              display: flex;
              justify-content: center;
              align-items: center;
              overflow: hidden;

              img {
                min-height: 100%;
              }
            }
          }
        }
      }
    }

    .half {
      max-width: 50%;
      margin-bottom: 40px;

      input {

      }
    }
  }
}