@import "variables";
@import "functions";
@import "../../../../common/styles/variables";

:host {
  height: 100vh;
  width: 100vw;
  //max-height: 100vh;
  max-width: 600px;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  //justify-content: center;
  align-items: center;

  section {
    width: 100%;
    text-align: center;
    flex: 1;
  }

  .rsvp-top {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    img {
      height: 200px;
      width: auto;
      margin: 20px;
      opacity: .7;
    }
  }

  .rsvp-content {
    flex: 3;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .rsvp-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60px;

    .link {

      a {
        margin: 0 6px 0 9px;
        color: $white;
      }

      &:after {
        content: "-";
      }

      &:last-child {
        &:after {
          content: "";
        }
      }
    }
  }
}

::ng-deep {
  i, label, span {
    color: $white;
  }

  .ui.button {
    margin-right: 0;
  }

  .ui.basic.inverted.pill.button {
    border-radius: 30px;
    padding: 15px 40px;
  }
}

@media screen and (max-width: $tablet-max) {
  :host {
    .rsvp-top {

      img {

      }
    }
  }
}

