@import "variables";
@import "functions";

:host {
  height: 100vh;
  width: 100vw;
  max-width: 600px;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  section {
    width: 100%;
    text-align: center;
    flex: 1;
  }

  .rsvp-top {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    img {
      height: 200px;
      width: auto;
      margin: 20px;
    }
  }

  .rsvp-content {
    flex: 3;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .rsvp-bottom {

  }
}

::ng-deep {
  .ui.button {
    margin-right: 0;
  }
}