@import "variables";
@import "../../../../common/styles/variables";


:host {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img {
    height: 350px;
    opacity: .5;
  }

  .ui.form {
    margin: 60px 0;

    .field {
      display: flex;
      flex-direction: column;
      align-items: center;

      .ui.input {

      }

      .ui.basic.button {
        box-shadow: none;
        border-radius: 0;
        border-bottom: 2px solid $white;

        .icon {
          opacity: .2;
        }

        &:hover {
          background: none !important;

          .icon {
            opacity: 1;
          }
        }
      }
    }

    input[type="text"] {
      font-weight: 300;
      border-bottom: 2px solid;
      text-transform: uppercase;

      &::placeholder {
        color: $white;
        font-weight: 300;
        text-transform: none;
      }

      &:focus {

        &::placeholder {
          opacity: 0;
        }
      }
    }
  }
}

@media screen and (max-width: $tablet-max) {
:host {
  img {
    height: 250px;
  }
}
}
