@import "variables";
@import "functions";
@import "../../../../common/styles/animations";


:host {
  .summaries {
    display: flex;
    flex-wrap: wrap;

    .summary {
      flex: 1;
      margin: 20px;
      display: flex;
      border: 2px solid $white;
      border-radius: 8px;
      flex-direction: column;
      min-width: 300px;

      .top {
        padding: 10px 20px;
      }

      .bottom {
        display: flex;
        flex-direction: column;
        max-height: none;
        padding: 0 20px 10px;
        align-items: flex-start;

        .row {
          margin: 5px 0;
          text-align: left;
        }

        sub {
          font-weight: 300;
          max-width: 100px;
          font-style: italic;
          bottom: 0;
        }
      }

      &>div {


        h3 {
          margin: 0;
          font-weight: 300;
          font-size: 18px;
        }

        p {
          margin: 0;
          font-weight: 200;
          font-size: 14px;
        }

        h6 {
          font-size: 12px;
          font-weight: 300;
          font-style: italic;
          margin: 0;
        }
      }
    }
  }
}