@import "../../styles/variables";
@import "../../styles/functions";
@import "../../styles/mixins";
@import "../../styles/defaults";

:host {
  display: flex;
  margin: 10px !important;
  padding: 10px 20px 10px 0 !important;

  &>div {
    margin: 6px 8px;
  }

  h5 {
    margin: 0;
  }

  h2, h3, h4 {
    margin: 0;
    color: $blue;
  }

  label {
    font-size: 12px;
  }

  &>.left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 60px;
    min-width: 60px;
    margin: -10px 0;
    padding: 0 10px;
    flex: 1;
    background: $lightGray;
    border-radius: 4px 0 0 4px;
    box-shadow: $shadow-subtle;

    h2, label {
      color: $gray;
    }
  }

  &>.center {
    flex: 6;
    display: flex;
    margin-left: 15px;

    &>div  {
      display: flex;
      justify-content: center;
    }

    .picture {

    }

    .status {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 10px;
    }

    .name {
      display: flex;
      flex-direction: column;
      width: 150px;

      h4 {
        max-width: 150px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    .details {
      display: flex;
      flex: 1;

      .detail {
        margin: 0 8px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        &.meals {
          margin-left: auto;
          display: flex;
          align-items: center;

          .ui.pink.label {
            background-color: $pink !important;
          }
          .ui.purple.label {
            background-color: $purple !important;
          }
          .ui.teal.label {
            background-color: $teal !important;
          }
        }
      }
    }
  }

  &>.right {
    display: flex;
    flex: 1;
    max-width: 10px;
    min-width: 10px;
    align-items: center;
    justify-content: flex-end;
    margin-right: 0;
  }

  .actions {
    position: absolute;
    flex-direction: column;
    right: 0;
    display: none;
    height: 100%;

    i {
      flex: 1;
    }
  }
}