<div class="left">
    <label>Table</label>
    <h2>{{guest.table || "-"}}</h2>
</div>

<div class="center">
    <div class="picture">

    </div>
    <div class="name">
        <h4>{{guest.name}}</h4>
        <h5>{{guest.relation}} of the {{guest.party}}</h5>
    </div>
    <div class="details">
        <div class="detail">
            <label>Invite</label>
            <h5>{{guest.invitation_num}}</h5>
        </div>

        <div class="detail" *ngIf="guest.email">
            <label>Email</label>
            <h5>{{guest.email}}</h5>
        </div>

        <div class="meals detail">
            <div *ngIf="guest.meal" class="ui horizontal label" [ngClass]="mealColor(guest.meal)">
                {{guest.meal}}
            </div>
        </div>
    </div>
</div>

<div class="right">
    <i class="large green checkmark icon" *ngIf="guest.completed && guest.attending"></i>
    <i class="large red remove icon" *ngIf="guest.completed && !guest.attending"></i>
    <i class="large warning icon" *ngIf="!guest.completed"></i>
</div>

<div class="actions">
    <i class="small write icon"></i>
    <i class="small red remove icon"></i>
</div>