@import "../../styles/variables";
@import "../../styles/functions";
@import "../../styles/mixins";
@import "../../styles/defaults";

:host {
  display: flex;
  margin: 0 !important;
  padding: 0 !important;
  border-radius: 0;
  box-shadow: none;
  border-bottom: 1px solid translucent50($lightGray);

  &:first-child {
    border-radius: 4px 4px 0 0;

    .right {
      border-radius: 0 4px 0 0;
    }
  }

  &:hover {
    z-index: 20;
  }

  &>div {
    margin: 6px 8px;
  }

  h5 {
    margin: 0;
  }

  h2, h3, h4 {
    margin: 0;
    color: $blue;
  }

  label {
    font-size: 12px;
  }

  &>.left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 60px;
    min-width: 60px;
    margin: -10px 0;
    padding: 0 10px;
    flex: 1;
    background: $lightGray;
    //border-radius: 4px 0 0 4px;
    //box-shadow: $shadow-subtle;

    h2, label {
      color: $gray;
    }
  }

  &>.center {
    flex: 6;
    display: flex;
    margin: 15px 0;
    margin-left: 15px;

    &>div  {
      display: flex;
      justify-content: center;
    }

    .picture {

    }

    .status {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 15px 0 5px;
    }

    .name, .tags {
      display: flex;
      margin-right: 20px;

      h4 {
        max-width: 250px;
        overflow: hidden;
        text-overflow: ellipsis;

        &.attending {
          color: $green;
        }
        &.missing {
          color: $red;
        }
        &.incomplete {
          color: $gray;
        }
      }

      .ui.pink.label {
        border: 2px solid $pink !important;
        color: $pink !important;
      }
      .ui.purple.label {
        border: 2px solid $purple !important;
        color: $purple !important;
      }
      .ui.teal.label {
        border: 2px solid $teal !important;
        color: $teal !important;
      }
      .ui.blue.label {
        border: 2px solid $blue !important;
        color: $blue !important;
      }
    }

    .details {
      display: flex;
      flex: 1;

      .detail {
        margin: 0 8px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        &.meals {
          margin-left: auto;
          display: flex;
          align-items: center;
          flex-direction: row;

          .ui.horizontal.label {
            display: flex;
            justify-content: center;
            align-items: center;

            i {
              margin-left: 2px;
            }
          }

          .ui.pink.label {
            background-color: $pink !important;
          }
          .ui.purple.label {
            background-color: $purple !important;
          }
          .ui.teal.label {
            background-color: $teal !important;
          }
        }
      }
    }
  }

  &>.right {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    background: translucent15($gray);
    color: $gray;
    padding: 0 10px;
    //border-radius: 0 4px 4px 0;
    width: 55px;

    label {
      line-height: 12px;
      font-weight: 300;
    }

    h3 {
      color: $gray;
      font-weight: 400;
    }



    .icon.close {
      position: absolute;
      //display: none;
    }
  }
}