<h2>Who is coming?</h2>
<div class="ui form">
    <div class="inline fields" *ngIf="rsvpData">
        <div class="field" *ngFor="let guest of rsvpData.guests">
            <!--<div class="ui checkbox">-->
                <!--<input type="checkbox" [(ngModel)]="guest.attending">-->
                <!--<label>{{guest.name}}</label>-->
            <!--</div>-->
            <label class="guest">
                <input type="checkbox" [(ngModel)]="guest.attending" />
                <div class="guest-data">
                    <i class="massive user icon"></i>
                    <span>{{guest.name}}</span>
                </div>
            </label>
        </div>
    </div>

    <button class="ui big inverted basic button" (click)="setGuests()">Next</button>
</div>
