@import "../../styles/functions";
@import "../../styles/variables";
@import "../../styles/mixins";
@import "../../../common/styles/animations";

:host {
  flex: 1;
  height: 200px;
  margin: 10px;
  padding: 20px;
  background-color: $white;
  border-radius: 8px;
  box-shadow: $shadow-subtle;
}