@import "../../styles/functions";
@import "../../styles/variables";
@import "../../styles/mixins";
@import "../../styles/defaults";

h1 {
  font-weight: 200;
  font-family: 'Gotham', Arial, sans-serif;
  text-shadow: $shadow-text;
}

h4 {
  font-weight: 200;
  font-family: 'Gotham', Arial, sans-serif;
  text-shadow: $shadow-text;
}

:host {
  display: flex;
  font-family: 'Gotham', Arial, sans-serif;
  text-shadow: $shadow-text;
  box-shadow: $shadow-subtle;
  min-height: 58px;

  &>div {
    flex: 1;
    display: flex;
    align-items: center;
    margin: 30px;
  }

  .center {
    justify-content: center;
  }

  .right {
    justify-content: flex-end;

    .picture {
      background: $gray;
      margin: 10px;
    }
  }


  .left {
    .countdown {
      display: flex;
      flex-direction: row;
      align-items: baseline;

      h3 {
        font-size: 28px;
        font-family: 'Gotham', Arial, sans-serif;
        font-weight: 100;
        text-shadow: $shadow-text;
        margin: 0;
      }

      h4 {
        margin: 0;
        margin-right: 8px;
        font-family: 'Gotham', Arial, sans-serif;
        text-shadow: $shadow-text;
        color: $blue;
      }
    }

  }
}