<div>
    <h1 class="animated fadeIn">Your RSVP</h1>
    <div class="summaries" *ngIf="rsvpData">
        <div class="summary animated fadeInDown" *ngFor="let guest of rsvpData.guests">
            <div class="top">
                <h3>{{guest.name}}</h3>
            </div>
            <div class="bottom">
                <div class="row">
                    <i class="check icon" *ngIf="guest.attending"></i>
                    <i class="close icon" *ngIf="!guest.attending"></i>
                    {{getAttendingMessage(guest.attending)}}
                </div>
                <div class="row" *ngIf="guest.attending">
                    <i class="food icon"></i>
                    {{guest.meal}}
                    <sub class="ellipsis" *ngIf="guest.dietary">* {{guest.dietary}}</sub>
                </div>
                <div class="row" *ngFor="let reminder of guest.reminders">
                    <i class="bell icon"></i>
                    {{reminder.time}} Days Before
                    <sub class="ellipsis">at {{reminder.email}}</sub>
                </div>
            </div>
        </div>
    </div>

    <button class="ui big basic inverted pill button" (click)="finish()">Continue</button>
</div>