<div>
    <h1>Your RSVP</h1>
    <div class="summaries" *ngIf="rsvpData">
        <div class="summary guests" *ngFor="let guest of rsvpData.guests">
            <div>
                <h3>{{guest.name}}</h3>
                <p *ngIf="guest.attending">is attending</p>
                <p *ngIf="!guest.attending">can't make it</p>
            </div>
            <div *ngIf="guest.attending && guest.meal">
                <h3>Meal</h3>
                <p>{{guest.meal}}</p>
            </div>
            <div *ngIf="guest.attending && guest.reminder">
                <h3>Reminder</h3>
                <p>{{guest.reminder}} Days before</p>
                <p>{{guest.email}}</p>
            </div>
        </div>
    </div>

    <button class="ui big basic inverted button" (click)="finish()">Continue</button>
</div>