<section class="head">
    <h6>Codename: BlockParty</h6>
</section>

<section class="body">
    <menu class="navigation">
        <div class="item" *ngFor="let link of links">
            <a class="link" [routerLink]="[link.slug]" [routerLinkActive]="['active']">
                <i class="material-icons">{{link.icon}}</i>
                <h5>{{link.text}}</h5>
            </a>
        </div>
        <div class="item">
            <a class="link" (click)="logout()">
                <i class="material-icons">power</i>
                <h5>Log Out</h5>
            </a>
        </div>
    </menu>
</section>