@import "../../../styles/variables";
@import "../../../styles/mixins";
@import "../../../styles/defaults";
@import "../../../styles/functions";

:host {
  width: 200px;
  padding: 20px;
  background: $frost;
  color: $blue;
  padding-right: 0;
  border-right: 1px solid $lightGray;

  .head {
    h6 {
      color: $blue;
      margin: 0;
    }
  }

  .body {

    .navigation {
      display: flex;
      flex-direction: column;
      padding-left: 0;

      .item {
        height: 38px;
        display: flex;
        margin: 5px 0;

        a.link {
          color: translucent50($blue);
          cursor: pointer;
          display: flex;
          flex: 1;
          align-items: center;
          transition: all .2s;

          .indicator {
            margin-left: auto;
            opacity: 0;
            transition: all .2s
          }

          &.active {
            color: $blue;
            &::after {
              content: '';
              display: block;
              background: $blue;
              position: absolute;
              height: 30px;
              width: 4px;
              border-radius: 4px 0 0 4px;
              left: 196px;
            }

            &:hover {
              color: $blue;

              .indicator {
                color: $blue;
                opacity: 1;
              }
            }

            .indicator {
              opacity: 1;
            }
          }

          &:hover {
            color: $blue;

            .indicator {
              color: $blue;
              opacity: .5;
            }
          }

          i {
            margin-right: 15px;
          }

          h5 {
            margin: 0;
            font-weight: 400;
            font-family: 'Montserrat', Arial, sans-serif;
            text-shadow: $shadow-text;
          }
        }
      }
    }
  }
}

@media screen and (max-width: $tablet-max) {
  :host {
    position: absolute;
    z-index: 10;
    height: 100%;
    width: 100%;
    display: none;

    &.opened {
      display: block;
    }

    .body {
      .navigation {
        .item {
          a.link {
            &.active {
              &::after {
                right: -1px;
                left: auto;
              }
            }
          }
        }
      }
    }
  }
}