@import "../styles/functions";
@import "../styles/variables";
@import "../styles/mixins";
@import "../styles/animations";

:host {
  display: flex;
  flex: 1;

  .dashboard {
    flex: 1;
    display: flex;
    padding: 0 20px 20px;

    h2 {
      font-weight: 300;
    }

    &>div {
      flex: 1;
      display: flex;
      flex-direction: column;

      .list {
        height: 100%;
        overflow-y: scroll;
        overflow-x: visible;
        display: flex;
        flex-direction: column;

        &::-webkit-scrollbar {
          display: none;
        }

        .card {
          margin: 15px 30px;
          border-radius: 8px;
          background-color: $white;
          padding: 12px;
          box-shadow: $shadow-subtle;
          transition: .2s all;

          &:hover {
            box-shadow: $shadow-extra-long-down;
          }
        }
      }

      .nav {
        margin: 30px 30px 0;
        display: flex;
        align-items: flex-end;

        a {
          padding: 10px;
          margin: 0 10px;
        }

        h2 {
          margin-right: 10px;
          margin-bottom: 8px;
        }
      }
    }

    .charts {
      flex: 1;
      .chart {

      }
    }

    .guests {
      flex: 2;

      .list {
        .guest {
          cursor: pointer;

          &>div {
            margin: 6px 8px;
          }

          .top {
            padding-bottom: 4px;
            border-bottom: 1px solid translucent30($gray);
          }

          .bottom {
            display: flex;

            .property {
              padding: 10px;

              h4 {
                margin: 0;
              }
            }
          }
        }
      }


    }

    .tables {
      flex: 2;
      .list {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;

        .table {
          margin: 20px;
          min-width: 140px;
          max-width: 140px;
          min-height: 140px;
          max-height: 140px;
          border-radius: 70px;
          cursor: pointer;
          background-color: $white;
          box-shadow: $shadow-subtle;
          transition: .2s all;
          display: flex;
          align-items: center;
          justify-content: center;

          &:hover {
            box-shadow: $shadow-extra-long-down;
          }
        }
      }
    }
  }

  .addButton {
    position: fixed;
    bottom: 60px;
    cursor: pointer;
    right: 60px;
    background-color: $white;
    height: 60px;
    width: 60px;
    border-radius: 40px;
    box-shadow: $shadow-long;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .2s;

    &:hover {
      box-shadow: $shadow-extra-long;
    }
  }
}