//Colors

$magenta: #B42775;
$navy: #20437D;
$white: #FFFFFF;

$shadow-extra-long: 15px 15px 70px rgba(0,0,0,.15);
$shadow-long: 0 0 25px rgba(0,0,0,.18);
$shadow-subtle: 0 0 10px rgba(0,0,0,.06);
$shadow-short: 0 3px 6px rgba(0,0,0,.16);