:host {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .entry-top {

  }

  .entry-content {
    text-align: center;
    img {
      max-height: 350px;
    }

    button {
      margin-top: 20px;
    }
  }

  .entry-bottom {

  }
}