body, html {
  padding: 0;
  margin: 0;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: $navy;
  color: $white;

  .top {
    max-height: 40px;
    flex: 1;
  }

  .content {
    flex: auto;
    display: flex;

    .entry {
      width: 100%;
    }

    .ui.form .field>label {
      color: $white;
    }
  }

  .bottom {
    max-height: 40px;
    flex: 1;
  }
}

