:host {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .rsvp-top {

  }

  .rsvp-content {
    max-width: 400px;

  }

  .rsvp-bottom {

  }
}