<section>
    <img src="/img/vinajeff.svg"/>
    <div class="ui form">
        <div class="field">
            <div class="ui left icon input">
                <i class="add user icon">
                </i>
                <input placeholder="Invitation Number..."
                       type="text"
                       [(ngModel)]="invitationNumber"
                       name="invitationNumber">
                <button class="ui icon basic button"
                        (click)="findGuests()">
                    <i class="large search icon"></i>
                </button>
            </div>
            <div class="ui pointing red basic label" *ngIf="error">
                {{error}}
            </div>
        </div>
    </div>
</section>