<section>
    <img src="/img/vinajeff.svg"/>
    <div class="ui form">
        <div class="field">
            <div class="ui icon input">
                <input placeholder="Invitation Number..."
                       type="text"
                       [(ngModel)]="invitationNumber"
                       name="invitationNumber">
                <i class="inverted circular search link icon" (click)="findGuests()"></i>
            </div>
            <div class="ui pointing red basic label" *ngIf="error">
                {{error}}
            </div>
        </div>
    </div>
</section>