@import "../../styles/functions";
@import "../../styles/variables";
@import "../../styles/mixins";
@import "../../../common/styles/animations";

:host {
  .insert {
    min-width: 300px;
    max-width: 350px;
    min-height: 320px;
  }
}