
<div class="addButton" (click)="addItem(addModal)">
    <i class="large inverted add icon"></i>
</div>

<sm-modal title="Add Item" class="modal" #addModal>
    <modal-content>
        <div class="items-menu">
            <h4 class="item" (click)="setForm('guest')" [ngClass]="{active: (activeForm === 'guest')}">Guest</h4>
            <h4 class="item" (click)="setForm('table')" [ngClass]="{active: (activeForm === 'table')}">Table</h4>
            <h4 class="item" (click)="setForm('venue')" [ngClass]="{active: (activeForm === 'venue')}">Venue</h4>
            <h4 class="item" (click)="setForm('meal')" [ngClass]="{active: (activeForm === 'meal')}">Meal</h4>
            <h4 class="item" (click)="setForm('announcement')" [ngClass]="{active: (activeForm === 'announcement')}">Announcement</h4>
        </div>
        <form class="ui form" *ngIf="activeForm === 'guest'">
            <div class="field">
                <sm-input icon="user"
                          class="left"
                          placeholder="Name..."
                          [(model)]="modalData.name">
                </sm-input>
            </div>

            <div class="two fields">
                <div class="field">
                    <sm-select placeholder="Relation..."
                               class="fluid search"
                               [(model)]="modalData.relation">
                        <option value="Friend">Friend</option>
                        <option value="Family">Family</option>
                    </sm-select>
                </div>
                <h5>of the</h5>
                <div class="field">
                    <sm-select placeholder="Party..."
                               class="fluid search"
                               [(model)]="modalData.party">
                        <option value="Bride">Bride</option>
                        <option value="Groom">Groom</option>
                        <option value="Both">Couple</option>
                    </sm-select>
                </div>
            </div>

            <div class="field">
                <sm-input icon="hashtag"
                          class="left"
                          placeholder="Invitation Number..."
                          [(model)]="modalData.invitation_num">
                </sm-input>
            </div>
        </form>
        <form class="ui form" *ngIf="activeForm === 'table'">
            <div class="field">
                <sm-input icon="hashtag"
                          class="left"
                          placeholder="Number of Seats..."
                          [(model)]="modalData.seats">
                </sm-input>
            </div>

            <div class="field">
                <sm-select placeholder="Guests..."
                           class="fluid search multiple"
                           [(model)]="modalData.guests">
                    <option value="Friend">Friend</option>
                    <option *ngFor="let guest of guests" value="{{guest._id}}">{{guest.name}}</option>
                </sm-select>
            </div>

            <div class="field">
                <sm-input icon="write"
                          class="left"
                          placeholder="Notes..."
                          [(model)]="modalData.notes">
                </sm-input>
            </div>
        </form>
        <form class="ui form" *ngIf="activeForm === 'venue'">
            <div class="field">
                <label>Venue</label>
                <sm-input class="left"
                          placeholder="Name..."
                          [(model)]="modalData.name">
                </sm-input>
            </div>
            <div class="field">
                <label>Address</label>
                <sm-input class="left"
                          placeholder="Street..."
                          [(model)]="modalData.address.street">
                </sm-input>
            </div>

            <div class="three fields">
                <div class="field">
                    <sm-input class="left"
                              placeholder="City..."
                              [(model)]="modalData.address.city">
                    </sm-input>
                </div>
                <div class="field">
                    <sm-input class="left"
                              placeholder="State..."
                              [(model)]="modalData.address.state">
                    </sm-input>
                </div>
                <div class="field">
                    <sm-input class="left"
                              placeholder="Zip..."
                              [(model)]="modalData.address.zip">
                    </sm-input>
                </div>
            </div>

            <div class="field">
                <label>Event</label>
                <sm-select placeholder="Event..."
                           class="fluid search multiple"
                           [(model)]="modalData.event">
                    <option>Ceremony</option>
                    <option>Reception</option>
                </sm-select>
            </div>
            <div class="two fields">
                <div class="field">
                    <sm-input class="left"
                              placeholder="Start Time..."
                              [(model)]="modalData.startTime">
                    </sm-input>
                </div>
                <div class="field">
                    <sm-input class="left"
                              placeholder="End Time..."
                              [(model)]="modalData.endTime">
                    </sm-input>
                </div>
            </div>
        </form>
        <form class="ui form" *ngIf="activeForm === 'meal'">
            <div class="field">
                <sm-input class="left"
                          placeholder="Name..."
                          [(model)]="modalData.name">
                </sm-input>
            </div>
            <div class="field">
                <sm-input class="left"
                          placeholder="Notes..."
                          [(model)]="modalData.notes">
                </sm-input>
            </div>
        </form>
        <form class="ui form" *ngIf="activeForm === 'announcement'">
            <div class="field">
                <sm-input class="left"
                          placeholder="Title..."
                          [(model)]="modalData.title">
                </sm-input>
            </div>

            <div class="field">
                <textarea placeholder="Announcement..."
                          name="announcement"
                          [(ngModel)]="modalData.announcement"></textarea>
            </div>
        </form>
    </modal-content>
    <modal-actions>
        <button class="ui button primary"
             (click)="submitModal(addModal)">
            Add
        </button>
        <button class="ui button"
             (click)="addModal.hide()">
            Cancel
        </button>
    </modal-actions>
</sm-modal>
