@import "../../styles/functions";
@import "../../styles/variables";
@import "../../styles/mixins";
@import "../../styles/animations";

:host {
  .addButton {
    position: fixed;
    bottom: 60px;
    cursor: pointer;
    right: 60px;
    background: $gradient-d;
    height: 60px;
    width: 60px;
    border-radius: 40px;
    box-shadow: $shadow-long;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .2s;

    i {
      margin: 0;
    }

    &:hover {
      box-shadow: $shadow-extra-long;
    }
  }
  .ui.invisible.popup {
    background: none;
    border: none;
    box-shadow: none;

    &.visible {
      display: flex;
      flex-direction: column;
    }

    &:before {
      content: none;
    }
  }

  .vertical.list {
    display: flex;
    flex-direction: column;
  }
}

::ng-deep {
  .ui.round.button {
    border-radius: 20px;
    height: 38px;
    width: 38px;
    margin-top: 10px;
  }

  .ui.modal>.header {
    border-bottom: 0px;
    text-align: center;
    padding-bottom: 0;
  }

  .ui.modal>.content {
    .items-menu {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;

      h4 {
        flex: 1;
        margin: 20px 40px;
        padding: 5px 0;
        cursor: pointer;

        &.active {
          border-bottom: 4px solid $blue;
        }
      }
    }

    .ui.form {
      padding: 20px;

      h5 {
        margin: 0;
        text-align: center;
        min-width: 50px;
        line-height: 38px;
      }
    }
  }

  .ui.modal>.actions {
    border-top: 0;
    background: none;
    .ui.checkbox {
      margin-right: 10px;
    }
  }
  //.modal {
  //  .header{
  //    border-bottom: 0px;
  //  }
  //  .items-menu {
  //    display: flex;
  //    align-items: center;
  //    justify-content: center;
  //    text-align: center;
  //
  //    h4 {
  //      flex: 1;
  //      margin: 20px;
  //      border-bottom: 4px solid $gray;
  //      padding: 5px 0;
  //    }
  //  }
  //}
}


