@import "../../../styles/functions";
@import "../../../styles/variables";
@import "../../../styles/mixins";
@import "../../../styles/defaults";

h1 {
  font-weight: 200;
  font-family: 'Montserrat', Arial, sans-serif;
  text-shadow: $shadow-text;
}

h4 {
  font-weight: 200;
  font-family: 'Montserrat', Arial, sans-serif;
  text-shadow: $shadow-text;
}

:host {
  display: flex;
  font-family: 'Montserrat', Arial, sans-serif;
  text-shadow: $shadow-text;
  //box-shadow: $shadow-subtle;
  border-bottom: 1px solid $lightGray;
  height: 60px;

  &>div {
    flex: 1;
    display: flex;
    align-items: center;
    margin: 20px;
  }

  .center {
    justify-content: center;
  }

  .right {
    justify-content: flex-end;

    h3 {
      padding: 0 10px;
      margin: 0;
    }

    .picture {
      background: $gradient-d;
      margin: 10px;
      margin-right: 0;
      display: flex;
      align-items: center;
      justify-content: center;

      h2 {
        color: $white;
        font-weight: 200;
        font-size: 16px;
      }
    }
  }


  .left {

    .search {
      display: flex;
      align-items: center;
      opacity: .5;

      i {
        margin: 0 5px;
      }
    }



  }
}

@media screen and (max-width: $phone-max) {
:host {
  .left {
    flex: 2;
  }

  .right {
    flex: 1;

    h3 {
      display: none;
    }
  }
}
}