<div class="left">
    <!--<div class="countdown">-->
        <!--<h3>{{countdown.months}}</h3>-->
        <!--<h4>months </h4>-->
        <!--<h3>{{countdown.days}}</h3>-->
        <!--<h4>days </h4>-->
        <!--<h3>{{countdown.hours}}</h3>-->
        <!--<h4>hours </h4>-->
        <!--<h3>{{countdown.minutes}}</h3>-->
        <!--<h4>minutes </h4>-->
    <!--</div>-->
    <div class="search">
        <i class="material-icons">search</i><span>Search...</span>
    </div>
</div>
<div class="right">
    <i class="material-icons">notifications_none</i>
    <div class="picture">
        <h2>JR</h2>
    </div>
</div>
