<section class="rsvp-top"><h1>RSVP</h1></section>

<section class="rsvp-content">
    <search     [hidden]="!(currentSetComponent === 'search')"
                (currentComponent)="setCurrentComponent($event)"></search>

    <guest      [hidden]="!(currentSetComponent === 'guest')"
                (currentComponent)="setCurrentComponent($event)"></guest>

    <meal       [hidden]="!(currentSetComponent === 'meal')"
                (currentComponent)="setCurrentComponent($event)"></meal>

    <reminder   [hidden]="!(currentSetComponent === 'reminder')"
                (currentComponent)="setCurrentComponent($event)"></reminder>

    <gift       [hidden]="!(currentSetComponent === 'gift')"
                (currentComponent)="setCurrentComponent($event)"></gift>

    <summary    [hidden]="!(currentSetComponent === 'summary')"
                (currentComponent)="setCurrentComponent($event)"></summary>

    <finished   [hidden]="!(currentSetComponent === 'finished')"
                (currentComponent)="setCurrentComponent($event)"></finished>
</section>

<section class="rsvp-bottom">

</section>