<div class="head">
    <i class="big inverted photo icon"></i>
</div>
<div class="details">
    <div class="name">
        <h5>{{venue.event}}</h5>
        <h1>{{venue.name}}</h1>
    </div>
    <div class="address">
        <p>{{venue.address.street}}</p>
        <p>{{venue.address.city}}, {{venue.address.state}} {{venue.address.zip}}</p>
    </div>
</div>
<div class="foot">
    <div class="time">
        <label>Start</label>
        <h1>{{start_time}}</h1>
    </div>
    <div class="time">
        <label>End</label>
        <h1>{{end_time}}</h1>
    </div>
</div>
<!--<div class="actions">-->
    <!--<i class="material-icons activitiesToggle" data-position="bottom center">more_horiz</i>-->
    <!--<div class="ui invisible popup">-->
        <!--<sm-button class="round teal" (click)="_modalService.openModal('Venue', venue, 'Edit')" icon="edit"></sm-button>-->
        <!--<sm-button class="round red" (click)="_weddingService.removeItem('Venue', venue)" icon="remove"></sm-button>-->
    <!--</div>-->
<!--</div>-->


