<div class="addButton addButtonsToggle" data-position="top center">
    <i class="large inverted add icon"></i>
</div>
<div class="ui invisible popup">
    <div class="vertical list">
        <div *ngFor="let button of buttons">
            <sm-button *ngIf="!button.disabled"
                       class="purple round addToggle"
                       (click)="addItem(button.name)"
                       icon="{{button.icon}}"
                       data-position="left center">
            </sm-button>
            <div class="ui popup">{{button.name}}</div>
        </div>
    </div>
</div>

<sm-modal title="{{modalMode}} {{activeForm}}" class="modal" id="itemModal" #itemModal>
    <modal-content>
        <form class="ui form" id="modalForm" *ngIf="activeForm === 'Guest'">
            <div class="field">
                <label>Name</label>
                <div class="ui input left">
                    <input type="text"
                           placeholder="Name"
                           [(ngModel)]="modalData.name"
                           name="guest_name"
                           autocomplete="off">
                </div>
            </div>
            <div class="two fields">
                <div class="field">
                    <sm-select placeholder="Relation..."
                               class="fluid search"
                               [(model)]="modalData.relation">
                        <option value="Friend">Friend</option>
                        <option value="Family">Family</option>
                    </sm-select>
                </div>
                <h5>of the</h5>
                <div class="field">
                    <sm-select placeholder="Party..."
                               class="fluid search"
                               [(model)]="modalData.party">
                        <option value="Bride">Bride</option>
                        <option value="Groom">Groom</option>
                        <option value="Couple">Couple</option>
                    </sm-select>
                </div>
            </div>

            <div class="field">
                <label>Invitation Number</label>
                <sm-select placeholder="Invitation..."
                           class="fluid search"
                           [class]="'invites'"
                           [id]="'invitations'"
                           [(model)]="modalData.invitation_num"
                           (change)="checkForGen($event)">
                    <option value="generateInvite">New...</option>
                    <option *ngFor="let invite of invitations"
                            value="{{invite}}">
                        {{invite}}{{invitationGuests(invite)}}
                    </option>
                </sm-select>
            </div>
            <div class="field">
                <div class="ui toggle checkbox">
                    <input name="child" type="checkbox"[(ngModel)]="modalData.child">
                    <label>Child</label>
                </div>
            </div>
            <div class="field" *ngIf="modalMode === 'Edit'">
                <div class="ui toggle checkbox">
                    <input name="public" type="checkbox" [(ngModel)]="modalData.completed">
                    <label>Complete RSVP</label>
                </div>
            </div>
            <div class="field" *ngIf="modalMode === 'Edit' && modalData.completed === true">
                <div class="ui toggle checkbox">
                    <input name="public" type="checkbox" [(ngModel)]="modalData.attending">
                    <label>Attending?</label>
                </div>
            </div>
            <div class="field" *ngIf="modalMode === 'Edit' && modalData.completed === true">
                <sm-select placeholder="Meal"
                           class="fluid search"
                           [(model)]="modalData.meal">
                    <option *ngFor="let meal of meals" value="{{meal.name}}">
                        {{meal.name}}
                    </option>
                </sm-select>
            </div>
        </form>
        <form class="ui form" id="modalForm" *ngIf="activeForm === 'Table'">
            <div class="field">
                <label>Number of Seats</label>
                <div class="ui input left">
                    <input type="number"
                           placeholder="Number of Seats"
                           [(ngModel)]="modalData.seats"
                           name="table_seats"
                           autocomplete="off">
                </div>
            </div>

            <div class="field">
                <label>Guests</label>
                <sm-select placeholder="Guests..."
                           class="fluid search multiple"
                           [(model)]="modalData.guests"
                           [options]="{maxSelections: modalData.seats}">
                    <option *ngFor="let guest of guests" value="{{guest._id}}">
                        {{guest.name}}{{getUserTable(guest._id)}}
                    </option>
                </sm-select>
                <span *ngIf="modalData.seats && modalData.guests"
                        [ngClass]="{red: modalData.seats < modalData.guests.length}">
                    {{modalData.guests.length}}/{{modalData.seats}} Seats
                </span>
                <!--TODO: Regular semantic dropdown doesn't work, but it is preferred over the ngSemantic version-->
                <!--<div class="ui fluid multiple serach selection dropdown">-->
                    <!--<input name="table_guests" type="hidden" [(ngModel)]="modalData.guests">-->
                    <!--<i class="dropdown icon"></i>-->
                    <!--<div class="default text">Guests...</div>-->
                    <!--<div class="menu">-->
                    <!--<div *ngFor="let guest of guests"-->
                    <!--class="item"-->
                    <!--data-value="test">-->
                    <!--{{guest.name}}{{getUserTable(guest._id)}}-->
                    <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            </div>

            <div class="field">
                <label>Notes</label>
                <div class="ui input left">
                    <input type="text"
                           placeholder="Notes"
                           [(ngModel)]="modalData.notes"
                           name="table_notes"
                           autocomplete="off">
                </div>
            </div>
        </form>
        <form class="ui form" id="modalForm" *ngIf="activeForm === 'Venue'">
            <div class="field">
                <label>Venue</label>
                <div class="ui input left">
                    <input type="text"
                           placeholder="Name..."
                           [(ngModel)]="modalData.name"
                           name="venue_name"
                           autocomplete="off">
                </div>
            </div>
            <div class="field">
                <label>Picture</label>
                <div class="ui input left">
                    <input type="file" (change)="uploadImage($event)" placeholder="Upload File..." accept=".jpg, .png">
                </div>
            </div>
            <div class="field">
                <label>Address</label>
                <div class="ui input left">
                    <input type="text"
                           placeholder="Street"
                           [(ngModel)]="modalData.address.street"
                           name="venue_street"
                           autocomplete="off">
                </div>
            </div>

            <div class="three fields">
                <div class="field">
                    <div class="ui input left">
                        <input type="text"
                               placeholder="City"
                               [(ngModel)]="modalData.address.city"
                               name="venue_city"
                               autocomplete="off">
                    </div>
                </div>
                <div class="field">
                    <div class="ui input left">
                        <input type="text"
                               placeholder="State"
                               [(ngModel)]="modalData.address.state"
                               name="venue_state"
                               autocomplete="off">
                    </div>
                </div>
                <div class="field">
                    <div class="ui input left">
                        <input type="text"
                               placeholder="Zip"
                               [(ngModel)]="modalData.address.zip"
                               name="venue_zip"
                               autocomplete="off">
                    </div>
                </div>
            </div>

            <div class="field">
                <label>Event</label>
                <sm-select placeholder="Event..."
                           class="fluid search multiple"
                           [(model)]="modalData.event">
                    <option>Ceremony</option>
                    <option>Reception</option>
                </sm-select>
            </div>
            <div class="two fields">
                <div class="field">
                    <label>Start Time</label>
                    <div class="ui calendar" id="venue_start">
                        <div class="ui input left">
                            <input type="datetime-local"
                                   placeholder="Start Time"
                                   [(ngModel)]="modalData.start_time"
                                   name="venue_start"
                                   autocomplete="off">
                        </div>
                    </div>
                </div>
                <div class="field">
                    <label>End Time</label>
                    <div class="ui calendar" id="venue_end">
                        <div class="ui input left">
                            <input type="datetime-local"
                                   placeholder="End Time"
                                   [(ngModel)]="modalData.end_time"
                                   name="venue_end"
                                   id="venue_end"
                                   autocomplete="off">
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <form class="ui form" id="modalForm" *ngIf="activeForm === 'Meal'">
            <div class="field">
                <label>Name</label>
                <div class="ui input left">
                    <input type="text"
                           placeholder="Name"
                           [(ngModel)]="modalData.name"
                           name="meal_name"
                           autocomplete="off">
                </div>
            </div>
            <div class="field">
                <label>Picture</label>
                <div class="ui input left">
                    <input type="file" (change)="uploadImage($event)" placeholder="Upload File..." accept=".jpg, .png">
                </div>
            </div>
            <div class="field">
                <label>Price</label>
                <div class="ui input left">
                    <input type="number"
                           placeholder="Name"
                           [(ngModel)]="modalData.price"
                           name="meal_price"
                           autocomplete="off">
                </div>
            </div>
            <div class="inline fields">
                <div class="field"
                     *ngFor="let color of colors">
                    <div class="ui radio checkbox" [ngClass]="color">
                        <input name="color"
                               type="radio"
                               [value]="color"
                               [(ngModel)]="modalData.color">
                    </div>
                </div>
            </div>
            <div class="field">
                <label>Notes</label>
                <div class="ui input left">
                    <input type="text"
                           placeholder="Notes"
                           [(ngModel)]="modalData.notes"
                           name="meal_notes"
                           autocomplete="off">
                </div>
            </div>
            <div class="field">
                <div class="ui toggle checkbox">
                    <input name="child" type="checkbox"[(ngModel)]="modalData.kids">
                    <label>Kids</label>
                </div>
            </div>
        </form>
        <form class="ui form" id="modalForm" *ngIf="activeForm === 'Registry'">
            <div class="field">
                <sm-select placeholder="Registry"
                           class="fluid search"
                           [(model)]="modalData.name">
                    <option *ngFor="let registry of registries" value="{{registry.name}}">
                        {{registry.name}}
                    </option>
                </sm-select>
            </div>
            <div class="field">
                <label>Description</label>
                <div class="ui input left">
                    <input type="text"
                           placeholder="Description"
                           [(ngModel)]="modalData.description"
                           name="registry_description"
                           autocomplete="off">
                </div>
            </div>
            <div class="field">
                <label>Link</label>
                <div class="ui input left">
                    <input type="text"
                           placeholder="http://www.example.com/event_name"
                           [(ngModel)]="modalData.link"
                           name="registry_link"
                           autocomplete="off">
                </div>
            </div>
        </form>
        <form class="ui form" id="modalForm" *ngIf="activeForm === 'Announcement'">
            <div class="field">
                <label>Title</label>
                <div class="ui input left">
                    <input type="text"
                           placeholder="Title"
                           [(ngModel)]="modalData.title"
                           name="annoucement_title"
                           autocomplete="off">
                </div>
            </div>

            <div class="field">
                <label>Announcement</label>
                <textarea placeholder="Announcement..."
                          name="announcement"
                          [(ngModel)]="modalData.announcement"></textarea>
            </div>
        </form>
        <div class="ui message" *ngIf="modalMessage" [ngClass]="modalMessage.color">{{modalMessage.text}}</div>
    </modal-content>
    <modal-actions>
        <div class="ui left floated negative icon button"
             *ngIf="modalMode === 'Edit'"
             (click)="deleteItem(itemModal)">
            <i class="trash icon"></i>
            Delete {{activeForm}}
        </div>
        <button class="ui icon button primary"
                (click)="submitModal(itemModal)">
            <i class="icon" [ngClass]="buttonIcon()"></i>
            {{actionButtonText()}} {{activeForm}}
        </button>
        <button class="ui button"
                (click)="closeModal(itemModal)">
            {{closeButtonText()}}
        </button>
    </modal-actions>
</sm-modal>
