
<div class="addButton addButtonsToggle" data-position="top center">
    <i class="large inverted add icon"></i>
</div>
<div class="ui invisible popup">
    <div class="vertical list">
        <sm-button class="purple round addToggle" (click)="addItem('Guest')" icon="user" data-position="left center"></sm-button>
        <div class="ui popup">Guest</div>

        <sm-button class="purple round addToggle" (click)="addItem('Table')" icon="users"data-position="left center"></sm-button>
        <div class="ui popup">Table</div>

        <sm-button class="purple round addToggle" (click)="addItem('Venue')" icon="marker" data-position="left center"></sm-button>
        <div class="ui popup">Venue</div>

        <sm-button class="purple round addToggle" (click)="addItem('Meal')" icon="food" data-position="left center"></sm-button>
        <div class="ui popup">Meal</div>

        <!--<sm-button class="purple round addToggle" (click)="addItem('Announcement')" icon="announcement" data-position="left center"></sm-button>-->
        <!--<div class="ui popup">Announcement</div>-->

    </div>
</div>

<sm-modal title="{{modalMode}} {{activeForm}}" class="modal" id="itemModal" #itemModal>
    <modal-content>
        <form class="ui form" id="modalForm" *ngIf="activeForm === 'Guest'">
            <div class="field">
                <label>Name</label>
                <div class="ui input left">
                    <input type="text"
                           placeholder="Name"
                           [(ngModel)]="modalData.name"
                           name="guest_name"
                           autocomplete="off">
                </div>
            </div>
            <div class="two fields">
                <div class="field">
                    <sm-select placeholder="Relation..."
                               class="fluid search"
                               [(model)]="modalData.relation">
                        <option value="Friend">Friend</option>
                        <option value="Family">Family</option>
                    </sm-select>
                </div>
                <h5>of the</h5>
                <div class="field">
                    <sm-select placeholder="Party..."
                               class="fluid search"
                               [(model)]="modalData.party">
                        <option value="Bride">Bride</option>
                        <option value="Groom">Groom</option>
                        <option value="Couple">Couple</option>
                    </sm-select>
                </div>
            </div>

            <div class="field">
                <label>Invitation Number</label>
                <sm-select placeholder="Invitation..."
                           class="fluid search"
                           [(model)]="modalData.invitation_num"
                           (change)="checkForGen($event)">
                    <option value="generateInvite">New...</option>
                    <option *ngFor="let invite of invitations" value="{{invite}}">{{invite}}{{invitationGuests(invite)}}</option>
                </sm-select>
            </div>
            <div class="field" *ngIf="modalMode === 'Edit'">
                <div class="ui toggle checkbox">
                    <input name="public" type="checkbox" [(ngModel)]="modalData.attending">
                    <label>Attending?</label>
                </div>
            </div>
            <div class="field" *ngIf="modalMode === 'Edit' && modalData.attending === true">
                <sm-select placeholder="Meal"
                           class="fluid search"
                           [(model)]="modalData.meal">
                    <option *ngFor="let meal of meals" value="{{meal.name}}">{{meal.name}}</option>
                </sm-select>
            </div>
        </form>
        <form class="ui form" id="modalForm" *ngIf="activeForm === 'Table'">
            <div class="field">
                <label>Number of Seats</label>
                <div class="ui input left">
                    <input type="text"
                           placeholder="Number of Seats"
                           [(ngModel)]="modalData.seats"
                           name="table_seats"
                           autocomplete="off">
                </div>
            </div>

            <div class="field">
                <label>Guests</label>
                <sm-select placeholder="Guests..."
                           class="fluid search multiple"
                           [(model)]="modalData.guests">
                    <option value="Friend">Friend</option>
                    <option *ngFor="let guest of guests" value="{{guest._id}}">{{guest.name}}</option>
                </sm-select>
            </div>

            <div class="field">
                <label>Notes</label>
                <div class="ui input left">
                    <input type="text"
                           placeholder="Notes"
                           [(ngModel)]="modalData.notes"
                           name="table_notes"
                           autocomplete="off">
                </div>
            </div>
        </form>
        <form class="ui form" id="modalForm" *ngIf="activeForm === 'Venue'">
            <div class="field">
                <label>Venue</label>
                <div class="ui input left">
                    <input type="text"
                           placeholder="Name..."
                           [(ngModel)]="modalData.name"
                           name="venue_name"
                           autocomplete="off">
                </div>
            </div>
            <div class="field">
                <label>Address</label>
                <div class="ui input left">
                    <input type="text"
                           placeholder="Street"
                           [(ngModel)]="modalData.address.street"
                           name="venue_street"
                           autocomplete="off">
                </div>
            </div>

            <div class="three fields">
                <div class="field">
                    <div class="ui input left">
                        <input type="text"
                               placeholder="City"
                               [(ngModel)]="modalData.address.city"
                               name="venue_city"
                               autocomplete="off">
                    </div>
                </div>
                <div class="field">
                    <div class="ui input left">
                        <input type="text"
                               placeholder="State"
                               [(ngModel)]="modalData.address.state"
                               name="venue_state"
                               autocomplete="off">
                    </div>
                </div>
                <div class="field">
                    <div class="ui input left">
                        <input type="text"
                               placeholder="Zip"
                               [(ngModel)]="modalData.address.zip"
                               name="venue_zip"
                               autocomplete="off">
                    </div>
                </div>
            </div>

            <div class="field">
                <label>Event</label>
                <sm-select placeholder="Event..."
                           class="fluid search multiple"
                           [(model)]="modalData.event">
                    <option>Ceremony</option>
                    <option>Reception</option>
                </sm-select>
            </div>
            <div class="two fields">
                <div class="field">
                    <label>Start Time</label>
                    <div class="ui calendar" id="#example1">
                        <div class="ui input left">
                            <input type="datetime-local"
                                   placeholder="Start Time"
                                   [(ngModel)]="modalData.start_time"
                                   name="venue_start"
                                   autocomplete="off">
                        </div>
                    </div>

                </div>
                <div class="field">
                    <label>End Time</label>
                    <div class="ui calendar">
                        <div class="ui input left">
                            <input type="datetime-local"
                                   placeholder="End Time"
                                   [(ngModel)]="modalData.end_time"
                                   name="venue_end"
                                   autocomplete="off">
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <form class="ui form" id="modalForm" *ngIf="activeForm === 'Meal'">
            <div class="field">
                <label>Name</label>
                <div class="ui input left">
                    <input type="text"
                           placeholder="Name"
                           [(ngModel)]="modalData.name"
                           name="meal_name"
                           autocomplete="off">
                </div>
            </div>
            <div class="field">
                <label>Price</label>
                <div class="ui input left">
                    <input type="number"
                           placeholder="Name"
                           [(ngModel)]="modalData.price"
                           name="meal_price"
                           autocomplete="off">
                </div>
            </div>
            <div class="inline fields">
                <div class="field"
                     *ngFor="let color of colors">
                    <div class="ui radio checkbox" [ngClass]="color">
                        <input name="color"
                               type="radio"
                               [value]="color"
                               [(ngModel)]="modalData.color">
                    </div>
                </div>
            </div>
            <div class="field">
                <label>Notes</label>
                <div class="ui input left">
                    <input type="text"
                           placeholder="Notes"
                           [(ngModel)]="modalData.notes"
                           name="meal_notes"
                           autocomplete="off">
                </div>
            </div>
        </form>
        <form class="ui form" id="modalForm" *ngIf="activeForm === 'Announcement'">
            <div class="field">
                <label>Title</label>
                <div class="ui input left">
                    <input type="text"
                           placeholder="Title"
                           [(ngModel)]="modalData.title"
                           name="annoucement_title"
                           autocomplete="off">
                </div>
            </div>

            <div class="field">
                <label>Announcement</label>
                <textarea placeholder="Announcement..."
                          name="announcement"
                          [(ngModel)]="modalData.announcement"></textarea>
            </div>
        </form>
    </modal-content>
    <modal-actions>
        <div class="ui left floated negative button"
             *ngIf="modalMode === 'Edit'"
             (click)="deleteItem(itemModal)">
            Delete {{activeForm}}
        </div>
        <!--<div class="ui checkbox" *ngIf="modalMode === 'Add'">-->
            <!--<input type="checkbox" name="public" [(ngModel)]="addingMultiple">-->
            <!--<label>Create Multiple</label>-->
        <!--</div>-->
        <button class="ui button primary"
             (click)="submitModal(itemModal)">
            {{buttonText()}}
        </button>
        <button class="ui button"
             (click)="closeModal(itemModal)">
            Done
        </button>
    </modal-actions>
</sm-modal>
