@import "../../styles/functions";
@import "../../styles/variables";
@import "../../styles/mixins";
@import "../../../common/styles/animations";

:host {
  .addButton {
    position: fixed;
    bottom: 60px;
    cursor: pointer;
    right: 60px;
    background: $gradient-d;
    height: 60px;
    width: 60px;
    border-radius: 40px;
    box-shadow: $shadow-long;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .2s;

    i {
      margin: 0;
    }

    &:hover {
      box-shadow: $shadow-extra-long;
    }
  }

  .vertical.list {
    display: flex;
    flex-direction: column;
  }
}

::ng-deep {
  .ui.modal>.header {
    border-bottom: 0px;
    text-align: center;
    padding-bottom: 0;
  }

  .ui.inverted.dimmer > .ui.modal {
    box-shadow: $shadow-extra-long;
  }

  .ui.modal>.content {
    .items-menu {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;

      h4 {
        flex: 1;
        margin: 20px 40px;
        padding: 5px 0;
        cursor: pointer;

        &.active {
          border-bottom: 4px solid $blue;
        }
      }
    }

    .ui.form {
      padding: 20px;

      h5 {
        margin: 0;
        text-align: center;
        min-width: 50px;
        line-height: 38px;
      }
    }
  }

  .ui.modal>.actions {
    border-top: 0;
    background: none;
    .ui.checkbox {
      margin-right: 10px;
    }
  }

  .ui.radio.checkbox {
    label::before {
      width: 26px;
      height: 26px;
      border: 1px solid $lightGray;
      box-shadow: $shadow-subtle;
    }

    label::after {
      border: 1px solid $lightGray;
      height: 16px;
      width: 16px;
      top: 6px;
      left: 5px;
      opacity: .6;
      transform: none;
      transition: all .1s;
    }

    & input:checked ~ label::after {
      border: 1px solid $lightGray;
      transform: none;
      height: 28px;
      width: 27px;
      top: 0;
      left: 0;
    }

    & input:indeterminate ~ label::after {
      opacity: .6;
    }

    &.teal {
      & input:checked ~ label::after {
        background-color: $teal;
      }
      label::after {
        background-color: $teal;
      }
    }

    &.purple {
      & input:checked ~ label::after {
        background-color: $purple;
      }
      label::after {
        background-color: $purple;
      }
    }

    &.pink {
      & input:checked ~ label::after {
        background-color: $pink;
      }
      label::after {
        background-color: $pink;
      }
    }

    &.blue {
      & input:checked ~ label::after {
        background-color: $blue;
      }
      label::after {
        background-color: $blue;
      }
    }

    & input:checked ~ label::after {

    }
  }
}


