@import "../../styles/functions";
@import "../../styles/variables";
@import "../../styles/mixins";
@import "../../../common/styles/animations";

:host {
  display: flex;
  width: 100%;

  .tables {
    flex: 1;

    .list {
      display: flex;
      flex-wrap: wrap;
    }

    .insert {
      flex: 1;
      padding: 10px;
      min-height: 160px;
    }

  }


}