<h2 class="animated fadeIn">Send a Gift</h2>
<p class="animated fadeIn">Gift us with the opportunity to make new memories</p>
<div class="ui form">
    <div class="field">
        <div class="registries" *ngFor="let registry of registries">
            <a class="registry animated fadeIn" href="{{registry.link}}" target="_blank" (click)="enableNext = true">
                <div class="left">
                    <img src="{{getLogo(registry)}}"/>
                </div>
                <div class="right">
                    <h4>{{registry.description}}</h4>
                    <div class="prompt">
                        <h3>Send a Gift</h3>
                        <i class="material-icons">keyboard_arrow_right</i>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <button class="ui big basic inverted button pill"
            (click)="continue()">Next</button>
</div>

<!--[ngClass]="{disabled: !enableNext}">Next</button>-->
