$gray: #818285;
$lightGray: #EEEEEE;
$white: #FFFFFF;
$frost: #F6FAFB;
$lightPurple: #F1E4FF;
$blue: #2186C4;
$purple: #8781EF;
$pink: #F6A2D3;
$navy: #20437D;
$teal: #78ECD6;

$shadow-extra-long: 15px 15px 70px rgba(0,0,0,.15);
$shadow-extra-long-down: 0px 15px 70px rgba(0,0,0,.15);
$shadow-long: 0 0 25px rgba(0,0,0,.18);
$shadow-subtle: 0 0 10px rgba(0,0,0,.06);
$shadow-short: 0 3px 6px rgba(0,0,0,.16);

$shadow-text: 0 0 6px rgba(0,0,0,.12);

$gradient-h:  linear-gradient(to right, $purple 0%, $teal 100%);
$gradient-v:  linear-gradient($purple 0%, $teal 100%);