$gray: #818285;
$lightGray: #EEEEEE;
$white: #FFFFFF;
$frost: #F6FAFB;
$lightPurple: #F1E4FF;
$blue: #2186C4;
$purple: #8781EF;
$pink: #F6A2D3;
$navy: #20437D;
$teal: #78ECD6;

$green: #20bf55;
$red: #ED5858;

$shadow-extra-long: 15px 15px 70px rgba(0,0,0,.15);
$shadow-extra-long-down: 0px 15px 70px rgba(0,0,0,.15);
$shadow-long: 0 0 25px rgba(0,0,0,.12);
$shadow-subtle: 0 0 10px rgba(0,0,0,.06);
$shadow-short: 0 3px 6px rgba(0,0,0,.12);

$shadow-text: 0 0 6px rgba(0,0,0,.08);

$gradient-h: linear-gradient(to right, $purple 0%, $blue 100%);
$gradient-hr: linear-gradient(to left, $purple 0%, $blue 100%);
$gradient-v: linear-gradient($purple 0%, $blue 100%);
$gradient-vr: linear-gradient($blue 100%, $purple 0%);
$gradient-d: linear-gradient(to bottom right, $purple, $blue);
$gradient-dr: linear-gradient(to top left, $purple, $blue);


//device width

$phone-max: 420px;

$tablet-min: 421px;
$tablet-max: 600px;

$desktop-min: 601px;
$desktop-max: 2048px;