@import "../../styles/functions";
@import "../../styles/variables";
@import "../../styles/mixins";
@import "../../styles/defaults";

h1 {
  font-weight: 200;
  font-family: 'Montserrat', Arial, sans-serif;
  text-shadow: $shadow-text;
}

h4 {
  font-weight: 200;
  font-family: 'Montserrat', Arial, sans-serif;
  text-shadow: $shadow-text;
}

:host {
  display: flex;
  font-family: 'Montserrat', Arial, sans-serif;
  text-shadow: $shadow-text;
  box-shadow: $shadow-subtle;
  height: 60px;

  &>div {
    flex: 1;
    display: flex;
    align-items: center;
    margin: 20px;
  }

  .center {
    justify-content: center;
  }

  .right {
    justify-content: flex-end;

    .picture {
      background: $gradient-d;
      margin: 10px;
      margin-right: 0;
      display: flex;
      align-items: center;
      justify-content: center;

      h2 {
        color: $white;
        font-weight: 200;
        font-size: 16px;
      }
    }
  }


  .left {
    .countdown {
      display: flex;
      flex-direction: row;
      align-items: baseline;

      h3 {
        font-size: 28px;
        font-family: 'Montserrat', Arial, sans-serif;
        font-weight: 100;
        text-shadow: $shadow-text;
        margin: 0;
      }

      h4 {
        margin: 0;
        margin-right: 8px;
        font-family: 'Montserrat', Arial, sans-serif;
        text-shadow: $shadow-text;
        color: $blue;
      }
    }

  }
}