<div class="head" [ngClass]="meal.color">
    <i class="big inverted photo icon"></i>
</div>
<div class="foot">
    <h1>{{meal.name}}</h1>
    <p>{{meal.notes}}</p>
    <!--<i class="material-icons activitiesToggle" data-position="bottom center">more_horiz</i>-->
    <!--<div class="ui invisible popup">-->
        <!--<sm-button class="round teal" (click)="_modalService.openModal('Meal', meal, 'Edit')" icon="edit"></sm-button>-->
        <!--<sm-button class="round red" (click)="_weddingService.deleteItem('Meal', meal)" icon="remove"></sm-button>-->
    <!--</div>-->
</div>