@import "../../styles/variables";
@import "../../styles/functions";
@import "../../styles/mixins";

:host {
  width: 25%;
  min-width: 160px;
  min-height: 200px;
  max-width: 250px;
  padding: 0 !important;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;

  .head {
    //flex: 1;
    background: $lightGray;
    border-radius: 4px 4px 0 0;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    //border-bottom: 6px solid #EEEEEE;

    &.teal {
      background: $teal;
      border-bottom: 6px solid $teal;
    }
    &.purple {
      background: $purple;
      border-bottom: 6px solid $purple;
    }
    &.pink {
      background: $pink;
      border-bottom: 6px solid $pink;
    }
  }

  .foot {
    //flex: 1;
    height: 50%;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 15px;

    h1 {
      font-size: 24px;
      font-weight: 200;
      font-family: 'Montserrat', Arial, sans-serif;
      margin-bottom: 5px;
    }

    h4 {
      margin: 0;
      font-size: 20px;
      font-weight: 200;
      font-family: 'Montserrat', Arial, sans-serif;
    }

    p {
      color: $blue;
      font-weight: 200;
      font-style: italic;

    }
  }
}