@import "styles/functions";
@import "styles/variables";
@import "styles/mixins";

:host {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: calc(100% - 40px);
  max-height: calc(100% - 40px);
  margin: 20px;
  border-radius: 4px;
  background-color: $frost;
  box-shadow: $shadow-extra-long;
  z-index: 1000;
  color: $gray;
}