@import "styles/functions";
@import "styles/variables";
@import "styles/mixins";

:host {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 100vh;
  max-height: 100vh;
  border-radius: 4px;
  background-color: $frost;
  box-shadow: $shadow-extra-long;
  z-index: 1000;
  color: $gray;
}

::ng-deep {
  .horizontal, .vertical {
    flex-wrap: wrap;
  }
}