@import "styles/functions";
@import "styles/variables";
@import "styles/mixins";

:host {
  display: flex;
  flex: 1;
  min-height: 100vh;
  max-height: 100vh;
  background: $frost;
  color: $gray;
  -moz-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  //-webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

::ng-deep {
  .horizontal {
    display: flex;
    flex-wrap: wrap;

    &.center {
      justify-content: center;
    }
  }

  .disabled {
    cursor: default !important;
  }
}

::ng-deep {
  .ui.popup {
    max-width: none;
    border: 0;

    &:before {
      box-shadow: none !important;
    }
  }
  .ui.invisible.popup {
    background: none;
    border: none;
    box-shadow: none;

    &.visible {
      display: flex;
      flex-direction: column;
    }

    &:before {
      content: none;
    }
  }

  .ui.round.button {
    border-radius: 20px;
    height: 38px;
    width: 38px;
    margin-top: 10px;
  }
}