@import "../../styles/functions";
@import "../../styles/variables";
@import "../../styles/mixins";
@import "../../../common/styles/animations";

:host {
  margin: 10px;
  //cursor: pointer;
  background-color: $white;
  border-radius: 4px;
  box-shadow: $shadow-subtle;
  transition: .2s all;
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 12px;
  min-width: 280px;

  .header {
    display: flex;
    align-items: center;
    margin-bottom: 8px;

    & > div {
      flex: 2;
      display: flex;
      align-items: center;

      h2 {
        margin: 0 8px 0 0;
      }
    }

    .right {
      flex: 1;
      justify-content: flex-end;
      height: 100%;

      i {
        height: 18px;
        margin-left: 8px;
        cursor: pointer;
      }
    }
  }

  .list {
    display: flex;
    flex-direction: column;

    div {
      margin-bottom: 4px;

      & > span {
        display: flex;
        width: 100%;
        align-items: center;
        padding: 4px;
        border-radius: 4px;
        background-color: $frost;
        height: 32px;
      }

      .gu-mirror {
        cursor: grabbing;
        cursor: -moz-grabbing;
        cursor: -webkit-grabbing;
      }

      .guest {
        background-color: $lightGray;

        & > i {
          height: 20px;
          font-size: 18px;
          cursor: move;
          cursor: grab;
          cursor: -moz-grab;
          cursor: -webkit-grab;
          margin: 0 4px;
          //cursor: grab;
        }

        h5 {
          margin: 0 8px;
        }

        .ui.label {
          border-width: 2px;

          &.green {
            background-color: $green !important;
            border-color: $green !important;
          }

          &.red {
            background-color: $red !important;
            border-color: $red !important;
          }

          &.blue {
            background-color: $blue !important;
            border-color: $blue !important;
          }

          &.purple {
            background-color: $purple !important;
            border-color: $purple !important;
          }

          &.teal {
            background-color: $teal !important;
            border-color: $teal !important;
          }

          &.pink {
            background-color: $pink !important;
            border-color: $pink !important;
          }

          &.gray {
            background-color: $gray !important;
            border-color: $gray !important;

          }

          &.basic {
            background-color: $lightGray !important;
          }

        }

        .relation {
          margin-left: auto;
        }

        .meal {
          margin-left: 8px;
        }
      }
    }
  }

  &.clickable {
    &:hover {
      box-shadow: $shadow-extra-long-down;
    }
  }

  .actions {
    margin-top: auto;
  }
}

@media screen and (max-width: $phone-max) {
  :host {
    .list {
      div > span {
        min-height: 40px;
      }
    }
  }
}

::ng-deep {
  .highchart, .highcharts-container {
    height: 100%;
    width: 100%;
  }
}