@import "../../styles/functions";
@import "../../styles/variables";
@import "../../styles/mixins";
@import "../../../common/styles/animations";

:host {
  margin: 10px;
  cursor: pointer;
  background-color: $white;
  border-radius: 4px;
  box-shadow: $shadow-subtle;
  transition: .2s all;
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 12px;
  min-width: 280px;

  .header {
    display: flex;
    align-items: center;
    margin-bottom: 8px;

    &>div {
      flex: 2;
      display: flex;
      align-items: center;

      h2 {
        margin: 0 8px 0 0;
      }
    }

    .right {
      flex: 1;
      justify-content: flex-end;
    }
  }

  .list {
    display: flex;
    flex-direction: column;

    div {
      margin-bottom: 4px;

      &>span {
        display: flex;
        width: 100%;
        align-items: center;
        padding: 4px;
        border-radius: 4px;
        background-color: $frost;
      }

      .guest {
        background-color: $lightGray;

        h5 {
          margin: 0 8px;
        }

        .ui.label {
          border-width: 2px;

          &.basic {
            background-color: $lightGray !important;
          }

          &.green {
            background-color: $green !important;
            border-color: $green !important;
          }

          &.red {
            background-color: $red !important;
            border-color: $red !important;
          }
        }

        .last {
          margin-left: auto;
        }
      }
    }
  }

  &.clickable {
    &:hover {
      box-shadow: $shadow-extra-long-down;
    }
  }

  .actions {
    margin-top: auto;
  }
}

::ng-deep {
    .highchart, .highcharts-container {
      height: 100%;
      width: 100%;
    }
}