<div>
    <div class="ui form">
        <div class="field" *ngIf="rsvpData">
            <h3>Choose meal for <strong>{{activeGuest.name}}</strong></h3>
            <div *ngFor="let meal of meals">
                <div class="ui radio checkbox">
                    <input type="radio" [(ngModel)]="activeGuest.meal" value="{{meal.name}}">
                    <label>{{meal.name}}</label>
                </div>
            </div>
        </div>
        <button class="ui icon button" (click)="setMeal()"><i class="chevron right icon"></i> Continue</button>
    </div>
</div>