<h2 class=" animated fadeIn" *ngIf="activeGuest">Choose meal for</h2>
<h2 class=" animated fadeIn" *ngIf="activeGuest"><strong>{{activeGuest.name}}</strong></h2>
<div class="ui form  animated fadeIn">
    <div class="inline fields" *ngIf="rsvpData" >
        <div class="field" *ngFor="let meal of meals">
            <label class="meal">
                <input type="radio" [(ngModel)]="activeGuest.meal" value="{{meal.name}}"/>
                <div class="meal-data">
                    <span>{{meal.name}}</span>
                    <div class="meal-image">
                        <i *ngIf="!meal.image" class="big inverted photo icon"></i>
                        <img *ngIf="meal.image" src="{{mealImage(meal)}}">
                    </div>
                </div>
            </label>
        </div>
        <div class="field">
            <label class="meal">
                <div class="meal-data">
                    <span class="translucent50">Other</span>
                    <div class="meal-image image-placeholder">
                        <h3 class="clickable" (click)="toggleDietary()" *ngIf="!dietary">Dietary Restriction?</h3 >
                        <input placeholder="Dietary Restrictions?"
                               type="text"
                               *ngIf="dietary"
                               (blur)="resetDietary()"
                               [(ngModel)]="activeGuest.dietary"
                               name="dietary">
                    </div>
                </div>
            </label>
        </div>
    </div>

    <button class="ui big basic inverted pill button" (click)="setMeal()">Continue</button>
</div>
