@import "../styles/functions";
@import "../styles/variables";
@import "../styles/mixins";

:host {
  display: flex;
  flex-direction: column;

  &>div {
    padding: 20px;
  }

  div {
    flex: 1;
    display: flex;

    .center {
      justify-content: center;
    }

    .right {
      justify-content: flex-end;
    }
  }

  .at-top {
    padding-bottom: 10px;

  }

  .at-bottom {
    padding-top: 10px;
  }
}