@import "../../styles/functions";
@import "../../styles/variables";
@import "../../styles/mixins";
@import "../../../common/styles/animations";

:host {
  display: flex;
  width: 100%;

  .guests {
    flex: 1;
    max-width: 800px;

    .list {
      margin: 10px 15px;
    }

    .insert {
      height: 55px;
      max-width: 800px;
      border-radius: 0 0 4px 4px;
      margin: 0;
    }
  }
}

@media screen and (max-width: $phone-max) {
  :host {
    .guests .list {
      margin: 10px 5px;
    }
  }
}