@import "../../styles/functions";
@import "../../styles/variables";
@import "../../styles/mixins";
@import "../../../common/styles/animations";

:host {
  //margin: 10px;

  .nav {
    margin: 0px 15px 0;
    display: flex;
    align-items: center;
    border-bottom: 1px solid $lightGray;
    flex: 1;

    a {
      padding: 10px;
      margin: 0 10px;
    }

    h2 {
      margin-right: 10px;
      margin-bottom: 8px;
      font-weight: 400;
      font-family: 'Montserrat', Arial, sans-serif;
      text-shadow: $shadow-text;
    }
    .title {
      flex: 1;
    }

    .actions {
      margin-left: auto;
      display: flex;
      align-items: center;
      justify-content: center;

      i {
        margin-left: 10px;
        color: $blue;
        font-size: 20px;
        cursor: pointer;
        transition: all .2s;

        &:hover {
          opacity: .8;
        }
      }
    }
  }
}

::ng-deep {
  .list {
    //overflow-y: scroll;
    //overflow-x: visible;
  }
}