@import "../../styles/functions";
@import "../../styles/variables";
@import "../../styles/mixins";
@import "../../styles/animations";

:host {
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }

  .dashboard {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 0 20px 20px;

    h2 {
      font-weight: 300;
    }

    .area {
      display: flex;
      flex-direction: column;

      .nav {
        margin: 20px 20px 0;
        display: flex;

        a {
          padding: 10px;
          margin: 0 10px;
        }

        h2 {
          margin-right: 10px;
          margin-bottom: 8px;
        }
        .title {

        }

        .actions {

        }
      }
    }

    .list {
      display: flex;

      &.horizontal {
        flex-direction: row;

        &>.vertical {
          margin: 0 20px;
          flex: 1;

          &:first-child {
            margin-left: 0;
          }

          &:last-child {
            margin-right: 0;
          }
        }
      }

      &.vertical {
        flex-direction: column;

        &>.horizontal {
          margin: 20px 0;
          flex: 1;

          &:first-child {
            margin-top: 0;
          }

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }

    .card {
      flex: 1;
      margin: 15px;
      border-radius: 4px;
      background-color: $white;
      padding: 20px;
      box-shadow: $shadow-subtle;
      transition: .2s all;
      position: relative;
      overflow: visible;

      &.clickable {
        cursor: pointer;

        &:hover {
          box-shadow: $shadow-extra-long-down;
        }
      }
    }

    .charts {
      .wedding {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        h1 {
          margin: 0;
          font-weight: 200;
          font-family: 'Gotham', Arial, sans-serif;
          text-shadow: $shadow-text;
        }

        h4 {
          margin: 0;
          padding-top: 5px;
          border-top: 1px solid translucent30(gray);
          font-weight: 200;
          font-family: 'Gotham', Arial, sans-serif;
          text-shadow: $shadow-text;

          sup {
            color: $blue;
            font-weight: 300;
          }
        }
      }
    }
  }
}

::ng-deep {
  .ui.pink.button {
    background: $pink;
    box-shadow: colorShadow($pink);
  }
  .ui.purple.button {
    background: $purple;
    box-shadow: colorShadow($purple);
  }
  .ui.teal.button {
    background: $teal;
    box-shadow: colorShadow($teal);
  }

  .ui.blue.button {
    background: $blue;
    box-shadow: colorShadow($blue);
  }

  .ui.popup {
    box-shadow: $shadow-long;
  }
}