<div class="dashboard">
    <div class="charts area">
        <div class="nav wedding">
            <h1>{{spouses[0].first_name}} and {{spouses[1].first_name}}</h1>
            <h4>Sunday, June 24<sup>th</sup> 2018</h4>
        </div>
        <div class="horizontal list">
            <chart-card *ngFor="let chart of charts" [chart]="chart"></chart-card>
        </div>
    </div>

    <dashboard-area [title]="'Tables'" class="tables" >
        <div class="list">
            <div class="clickable table" *ngFor="let table of tables">
                <h2>Table {{table.number}}</h2>
            </div>
        </div>
    </dashboard-area>

    <div class="horizontal list">
        <div class="vertical list">
            <dashboard-area [title]="'Guests'" class="guests">
                <div class="vertical list">
                    <guest-card class="clickable" *ngFor="let guest of guests" [guest]="guest"></guest-card>
                </div>
            </dashboard-area>
        </div>
        <div class="vertical list">
            <dashboard-area [title]="'Venues'" class="venues">
                <div class="horizontal list">
                    <venue-card class="clickable animated slideInUp" *ngFor="let venue of venues" [venue]="venue"></venue-card>
                </div>
            </dashboard-area>
            <dashboard-area [title]="'Meals'" class="meals">
                <div class="horizontal list">
                    <meal-card class="clickable animated slideInUp" *ngFor="let meal of meals" [meal]="meal"></meal-card>
                </div>
            </dashboard-area>
        </div>

    </div>
</div>

<div class="addButton" (click)="addItem(addItemModal)">
    <i class="material-icons">add</i>
</div>

<sm-modal title="Add Item" class="modal" #addItemModal>
    <modal-content>
        Add a Guest, Table, Meal, and more!
    </modal-content>
    <modal-actions>
        <div class="ui buttons">
            <div class="ui button primary" (click)="hideModal(addItemModal)">Close modal</div>
        </div>
    </modal-actions>
</sm-modal>
