@import "../../styles/variables";
@import "../../styles/functions";
@import "../../styles/mixins";
@import "../../styles/defaults";

:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  min-width: 300px;

  .top {
    flex: 1;
    width: 100%;
    background: $gradient-dr;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px 4px 0 0;

    img {
      max-height: 150px;
      margin: 0 auto;
    }
  }

  .bottom {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;

    h1, h4 {
      margin: 5px 0;
    }
  }
}